/**
 *
 *  Post Section Style
 *
 **/

.post-article-content {
    h4 {
        font-size: 1.25rem;
        font-weight: bold;
        color: #2d2d2d;
        padding-bottom: 10pt;
    }

    ol {
        list-style: auto;
        padding-left: 15pt;
        padding-bottom: 10pt;
        padding-top: 10pt;
    }

    li {
        line-height: 1.5;
        padding-bottom: 4pt;
    }
}